@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-family: "Sono", sans-serif;
  color: whitesmoke;
  background-color: rgb(30, 30, 34);
}

h1 {
  font-family: 'Rubik Iso', cursive;;
  margin-top: 50px;
  -webkit-animation: color_change 1s infinite alternate;

}

#game-buttons {
  margin-top: 50px;
  margin-bottom: 20px;
}

#dice-container {
  margin-top: 50px;
}

#dice-image {
  width: 150px;
  height: 150px;
}

#score-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#game-message {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

#game-buttons button {
  margin: 0 10px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  opacity: 60%;
}

#game-buttons button:hover {
  background-color: #0062cc;
  transform: scale(1.1);
  opacity: 100%;
}

#game-buttons button:active {
  background-color: #005cbf;
}

#game-buttons button:focus {
  outline: none;
}

#score-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

#score-container span {
  font-weight: bold;
  font-size: 24px;
}

#game-buttons {
  border-radius: 0px;
  margin-top: 50px;
}
